/* overriding hidden classes */
::ng-deep mat-grid-tile .mat-figure {
    display: inline !important;
    margin: 0;

}

::ng-deep mat-grid-tile {
    display: inline !important;
    margin: 0 !important;
}